* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app-container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
}

.app-header h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 0;   
}

.search-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#ingredient-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#search-button {
    width: 50px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 1.2rem;
}

.results-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px 0; 
}

.meal-item img {
    width: 100%;
}

.meal-item .meal-info {
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, 0.6);
}

.modal h2, .modal h4 {
    text-align: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.modal-content img {
    width: 100%;
    margin: 30px 0;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    #ingredient-input {
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    .results-section {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}










